---
apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: home-cluster
  namespace: default
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
        - "#{ kubernetes.pod_cidr }#"
    services:
      cidrBlocks:
        - "#{ kubernetes.svc_cidr }#"
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1alpha3
    kind: TalosControlPlane
    name: home-cluster-controlplane
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
    kind: ProxmoxCluster
    name: home-cluster
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: ProxmoxCluster
metadata:
  name: home-cluster
  namespace: default
spec:
  controlPlaneEndpoint:
    host: "#{ kubernetes.api.addr }#"
    port: 6443
  ipv4Config:
    addresses:
      #% for node in controlplane_nodes %#
      - "#{ node.address }#"
      #% endfor %#
      #% if worker_nodes %#
      #% for node in worker_nodes %#
      - "#{ node.address }#"
      #% endfor %#
      #% endif %#
    prefix: #{ (network.node_cidr or network.lan_cidr).split('/') | last }#
    gateway: "#{ network.default_gateway }#"
  dnsServers:
    #% for dns in network.dns_servers %#
    - "#{ dns }#"
    #% endfor %#
  allowedNodes:
    - "#{ proxmox.node }#"
