---
# yaml-language-server: $schema=https://json.schemastore.org/helmfile

# Bootstraps cluster-wide Custom Resource Definitions (CRDs) by extracting them
# from upstream Helm charts and applying them directly with kubectl.

bases:
  - defaults.yaml

helmDefaults:
  args:
    - --include-crds
    - --no-hooks

releases:
  - name: cloudflare-dns
    namespace: network
    inherit:
      - template: default

  - name: envoy-gateway
    namespace: network
    inherit:
      - template: default

  - name: cert-manager
    namespace: cert-manager
    inherit:
      - template: default
