---
apiVersion: controlplane.cluster.x-k8s.io/v1alpha3
kind: TalosControlPlane
metadata:
  name: home-cluster-controlplane
  namespace: default
spec:
  controlPlaneConfig:
    controlplane:
      generateType: controlplane
      talosVersion: v1.9.3
      configPatches:
        - op: add
          path: /machine/network
          value:
            hostname: "{{ .Machine.Name }}"
            interfaces:
              - interface: eth0
                dhcp: false
                addresses:
                  - "{{ .MachineAddress }}/24"
                routes:
                  - network: 0.0.0.0/0
                    gateway: "#{ network.default_gateway }#"
            nameservers:
              #% for dns in network.dns_servers %#
              - "#{ dns }#"
              #% endfor %#
        - op: add
          path: /machine/time
          value:
            servers:
              #% for ntp in network.ntp_servers %#
              - "#{ ntp }#"
              #% endfor %#
        - op: add
          path: /cluster/network
          value:
            cni:
              name: none
            podSubnets:
              - "#{ kubernetes.pod_cidr }#"
            serviceSubnets:
              - "#{ kubernetes.svc_cidr }#"
        - op: add
          path: /cluster/proxy
          value:
            disabled: true
        - op: add
          path: /cluster/apiServer
          value:
            certSANs:
              - "#{ kubernetes.api.addr }#"
              #% for san in kubernetes.api.tls_sans %#
              - "#{ san }#"
              #% endfor %#
        - op: add
          path: /cluster/allowSchedulingOnControlPlanes
          value: true
  infrastructureTemplate:
    apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
    kind: ProxmoxMachineTemplate
    name: home-cluster-controlplane
  replicas: #{ controlplane_nodes | length }#
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: ProxmoxMachineTemplate
metadata:
  name: home-cluster-controlplane
  namespace: default
spec:
  template:
    spec:
      sourceNode: "#{ proxmox.node }#"
      templateID: 999
      format: "raw"
      full: true
      numSockets: 1
      numCores: #{ controlplane_nodes[0].cores }#
      memoryMiB: #{ controlplane_nodes[0].memory }#
      disks:
        scsi0:
          disk: "#{ proxmox.storage }#:#{ controlplane_nodes[0].disk_size }#"
          cache: "writethrough"
      network:
        default:
          bridge: "#{ proxmox.bridge }#"
          model: "virtio"
