---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineDeployment
metadata:
  name: home-cluster-workers
  namespace: default
  #% if autoscaler and autoscaler.enabled %#
  labels:
    autoscaling: enabled
  annotations:
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-min-size: "#{ autoscaler.min_workers }#"
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-max-size: "#{ autoscaler.max_workers }#"
  #% endif %#
spec:
  clusterName: home-cluster
  #% if autoscaler and autoscaler.enabled %#
  replicas: #{ autoscaler.initial_replicas }#
  #% elif worker_nodes %#
  replicas: #{ worker_nodes | length }#
  #% else %#
  replicas: 0
  #% endif %#
  selector:
    matchLabels:
      cluster.x-k8s.io/cluster-name: home-cluster
      cluster.x-k8s.io/deployment-name: home-cluster-workers
  template:
    metadata:
      labels:
        cluster.x-k8s.io/cluster-name: home-cluster
        cluster.x-k8s.io/deployment-name: home-cluster-workers
    spec:
      clusterName: home-cluster
      version: v1.32.1
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
          kind: TalosConfigTemplate
          name: home-cluster-workers
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
        kind: ProxmoxMachineTemplate
        name: home-cluster-workers
---
apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
kind: TalosConfigTemplate
metadata:
  name: home-cluster-workers
  namespace: default
spec:
  template:
    spec:
      generateType: worker
      talosVersion: v1.9.3
      configPatches:
        - op: add
          path: /machine/network
          value:
            hostname: "{{ .Machine.Name }}"
            interfaces:
              - interface: eth0
                dhcp: false
                addresses:
                  - "{{ .MachineAddress }}/24"
                routes:
                  - network: 0.0.0.0/0
                    gateway: "#{ network.default_gateway }#"
            nameservers:
              #% for dns in network.dns_servers %#
              - "#{ dns }#"
              #% endfor %#
        - op: add
          path: /machine/time
          value:
            servers:
              #% for ntp in network.ntp_servers %#
              - "#{ ntp }#"
              #% endfor %#
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: ProxmoxMachineTemplate
metadata:
  name: home-cluster-workers
  namespace: default
spec:
  template:
    spec:
      sourceNode: "#{ proxmox.node }#"
      templateID: 999
      format: "raw"
      full: true
      numSockets: 1
      #% if autoscaler and autoscaler.enabled %#
      numCores: #{ autoscaler.worker_template.cores }#
      memoryMiB: #{ autoscaler.worker_template.memory }#
      disks:
        scsi0:
          disk: "#{ proxmox.storage }#:#{ autoscaler.worker_template.disk_size }#"
          cache: "writethrough"
      #% elif worker_nodes and worker_nodes | length > 0 %#
      numCores: #{ worker_nodes[0].cores }#
      memoryMiB: #{ worker_nodes[0].memory }#
      disks:
        scsi0:
          disk: "#{ proxmox.storage }#:#{ worker_nodes[0].disk_size }#"
          cache: "writethrough"
      #% else %#
      numCores: 4
      memoryMiB: 8192
      disks:
        scsi0:
          disk: "#{ proxmox.storage }#:100"
          cache: "writethrough"
      #% endif %#
      network:
        default:
          bridge: "#{ proxmox.bridge }#"
          model: "virtio"
